@model List<Url>


<h2>Shortened Url List:</h2>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Original Url</th>
            <th>Shortened Url</th>
            <th>Site Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var url in Model)
        {
            <tr>
                <td>@url.OriginalUrl</td>
                <td>@url.ShortenedUrl</td>
                <td>@url.SiteName</td>
            </tr>
        }
    </tbody>
</table>